@import'./basic/font.scss';
@import'./basic/reset.scss';
@import'./moduls/functions.scss';
@import'./moduls/mixins.scss';
@import'./moduls/private.scss';
@import'./moduls/variable.scss';
.header{
    .container{
        @extend %width;
        @include flex (flex,center,space-between);
        .logo{
            img{
                width: $size-200;
            }
        }
        .nav-ul{
            @include flex (flex,center,space-between);
            .nav-a{
                margin-right: $size-15;
                font-size: $size-26;
                color: $blue;
                @include transition(color,0.3s);
                &:hover{
                    color: red;
                }
            }    
        } 
    }
}
.section1{
    @extend %width;
    .bac-img{
        background-image: url(../img/money-lab.jpg);
        @extend %background-property;
    }
}
.section2{
    .container1{
        @extend %width;
        margin-top: $size-30; 
    }
    h1{
        font-size: $h1;
        padding: 15px 0px;
    }
    h6{
        font-size: $h6;
        padding: 15px 0px;
    }
    p{
        font-size: $p;
        padding: 15px 0px;
    }
}
.section3{
    .container2{
        @extend %width2;
        @include flex(flex,center,space-between);
        flex-wrap: wrap;
        article{
            // background: $red;
            max-width: $size-400;
            padding: 15px;
            margin-bottom: 20px;
            h1{
                font-size: $h1;
                padding: 15px 10px;
            }
            h6{
                font-size: $h6;
                padding: 0px 10px;
            }
            p{
                font-size: $p;
                padding: 15px 10px;
            }
            img{
                display: block;
                width: 400px;
            }
        }
    }
}
.section4{
    background: #E6E6E6;
    height: $size-200;
    .conainer3{
        height: $size-200;
        text-align: center;
        padding: 90px;
    }
}
.conainer4{
    height: $size-50;
    @extend %width;
    @include flex (flex,center,space-between);
    .soc-ul{
        @include flex (flex,center,space-between);
        .soc-a{
            font-size: $size-30;
            margin: 15px;
        }
        // .soc-a: first-child{
        //     font-size: 20px;
        // }
    }
}