// size
$size-1170:1170px;
$size-2000:2000px;
$size-1000:1000px;
$size-800: 800px;
$size-550:550px;
$size-500: 500px;
$size-400: 400px;
$size-200: 200px;
$size-100: 100px;
$size-50: 50px;
$size-30: 30px;
$size-26: 26px;
$size-16:16px;
$size-15:15px;

$size-100pr: 100%;

// size

// color
$red:red;
$blue:blue;
$black:black;
$white:#fff;
$aqua:aqua;

// color

// h-teg

$h1:28px;

$h6:14px;

$p:16px;

// fonts



// fonts